@import url('https://fonts.googleapis.com/css2?family=Montserrat:200,400,600,800,1200,1400,1600&display=swap');
*
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.homePage {
    overflow-y: hidden;
}

.scrollPage {
    overflow-y: auto;
    background-color: #0f0f2a;
    min-height: 100vh;
}

.scrollPage.active {
    right: 300px;
}

.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*dark color - #0f0f2a
    light color - ebfbfb
    red color - d91226*/
    background: #0f0f2a;
    color: #0f0f2a;
    z-index: 5;
    transition: 500ms;
    

}

.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase.active{
    right:0px;
}



.logo{
    text-transform: uppercase;
    line-height: 2;
    font-size: 3em;
    cursor: pointer;
    color: #ebfbfb;
}



.toggle {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 100px;
    height: 100px;
    background: url('Menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    z-index: 200;
    
  }

.toggle.active {
    background: url('Close.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;

  }

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
}


.textHome {
    position: absolute;
    z-index: 10;
    color: #ebfbfb;
    padding: 100px 20px;
    margin-top:50px;
    text-align: left;
}

.text {
    position: relative;
    z-index: 10;
    color: #ebfbfb;
    margin-top:10px;
    z-index: 10;
    margin-bottom: 25px;
}


.text h1 {
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;
}

.text h2 {
    font-size: 3em;
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;
    padding-bottom: 150px;
}

.textHome a{
    display: inline-block;
    text-align: left;
    font-size: 5em;
    font-weight: 600;
    padding: 10px 0px;
    text-decoration: none;
    color: #ebebeb;
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 3;
    left: 0px;
    transition: 0.2s
}

.textHome a:hover{
    color: #d91226;
    letter-spacing: 5;
    padding: 10px 10px;
}

.social{
position: absolute;
transform: scale(0.50);
left: 0px;
bottom: 0px;
z-index: 20;
display: flex;
justify-content: flex-start;
align-items: center;

}

.social li 
{
    list-style: none;
    margin-right: 30px;
}


.social li a {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
    margin-right: 30px;
}

.social li a:hover{
    transform: scale(1.25);
}

.menu{
    position: fixed;
    top: 0px;
    right: -300px;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    background-color:#164066;
    z-index: 20;
    transition: 500ms ease-in-out;
}

.menu.active {
    right: 0px;
}

.menu ul li{
    margin-bottom: 5px;
    z-index: 90;
}

.menu ul{
    position: relative;
    top: 150px;
    list-style: none;
    margin-bottom: 15px;
    z-index: 90;
}

.menu ul li a{
    text-decoration: none;
    font-size: 28px;
    color:#ebebeb;
    font-weight: 400;

}

.menu ul li a:hover {
    color: #d91226;
    font-weight: 600;
}

.videoBody {
    width: 100%;
    height: 100%;
    margin: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5%;
}

.centeredTopVid {
    position: relative;
    max-width: 20%;
    height: auto;
    margin-bottom: 0px;
    display: block;
    z-index: 5;
    margin-top: 125px;
}

.pageReel {
    position: relative;
    display: block;
    align-items: center;
    width:90%;
    z-index: 15;
    padding-bottom: 15px;
}

.pageVideo {
    position: relative;
    display: block;
    align-items: center;
    width:80%;
    z-index: 15;
    padding-bottom: 15px;
    padding-top: 100px;
}

.videoContainer {
    position: relative;
    width: 1080px;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoContainer iframe {
    position: relative;
    height: auto;
    width: 1080px;
    max-width: none;
    border: none;
    justify-content: center;
    z-index: 10;
}
    

@media (max-width: 768px) {
    
    .text {
        text-align: left;
        left: 20px;
        padding: 0 20px; 
    }

    
    .text a {
        font-size: 2em;
    }

    .showcase header {
        justify-content: flex-start;
        padding-left: 10px;
    }

    
    .social {
        transform: scale(0.40);
        left: 20px;
        bottom: 20px;
        position: fixed;
        justify-content: flex-start;
    }

    
    .logo {
        font-size: 1.5em;
        text-align: left;
        margin-left: 20px;
    }

    
    .toggle {
        transform: scale(0.75);
        right: 20px; 
    }

    
    .showcase {
        padding: 10px;
    }
}